[flake8]
max-line-length = 88
max-doc-length = 88
enable-extensions = H106,H203,H204,H205,H210,H904
extend-ignore = E203
max-complexity = 20
doctests = True
docstring-convention = numpy
include-in-doctest = "*.rst"
